---
interface Props {
  name: string;
  class?: string;
}

const {name, class: className = 'bg-brand-soft text-brand-strong'} =
  Astro.props;
---

<div
  class:list={[
    'mb-5 flex h-16 w-16 items-center justify-center rounded-full',
    className,
  ]}
>
  <span class:list={['h-7 w-7', name]}></span>
</div>
