---
interface Props {
  title: string;
  description?: string;
}

const {title, description = ''} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${Astro.site ?? '/'}favicon.svg`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    --uno: 'm-0 w-full h-full';
  }
</style>
